.Parentbox {
  margin: auto;
  width: 80%;
  overflow: hidden;
  margin-top: 20px;
}

.Foto {
  width: 25%;
  height: 700px;
  float: left;
  margin-top: 70px;
}

.Foto img {
  border-radius: 20px;
}

.Definisi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
}

.Definisi .Cate {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.Definisi .Info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
  text-align: left;
  font-size: 18px;
}

.Definisi .Title {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: black;
}
